.main_container{
    width: 100%;
    height: 100vh;
    position: relative;
    /* padding-top: 0px; */
    /* background-color: rgb(74, 74, 160); */
}
.main_boxes{
    width: 100%;
    height: 100%;
    /* background-color: aquamarine; */
    display: flex;
    align-items: center;
}
.main_list_container{
    width: 100%;
    height: 100%;
    /* background-color: pink; */
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}
.main_nextBtn{
    width: 15%;
    height: 40px;
    /* background-color: lightblue; */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.pagination_container{
    width: 70%;
    display: flex;
    align-items: center;
    padding-bottom: 50px;
}
.pagination{
    width: 50%;
    height: 60px;
    /* background-color: lightblue; */
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    padding-left: 20px;
}

li {
    width: 24px !important;
    height: 24px !important;
    border: 1px solid #a5e2bb;
    border-radius: 50%;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Product-Sans';
    margin-right: 10px;
    font-size: 10px;
}
li a {
    color: #a5e2bb;
}
.active{
    border: 1px solid #45ab6a;
}
.active a {
    color: #45ab6a;
}